body {
    background-color: green;
	text-align: center;
	border:dashed 5px #000000;
	margin-left: 300px;
	margin-right: 300px;

}

h1 {
    color: white;
}

p {
    font-family: verdana;
    font-size: 20px;
}